<template>
  <v-app>
    <app-bar :user="user" @logout="doLogout" />
    <v-main>
      <router-view @userLogged="onUserLog" :user="user"></router-view>
    </v-main>
  </v-app>
</template>

<script>
import AppBar from "./components/AppBar.vue";
import { tokenManager } from "./main";

export default {
  name: "App",
  components: {
    AppBar,
  },
  data: () => {
    return {
      user: null,
    };
  },
  methods: {
    doLogout() {
      this.user = null;
      tokenManager.logout();
      this.$router.push({ name: "login" });
    },
    onUserLog(userData) {
      this.user = userData;
    },
  },
  mounted() {
    this.user = tokenManager.getPayload();
  },
};
</script>
