<template>
  <v-app-bar app dense color="primary" dark>
    <router-link :to="{ name: 'home' }" exact tag="button">
      <v-toolbar-title>Chat application</v-toolbar-title>
    </router-link>
    <v-spacer />
    <div v-if="user != null">
      <v-menu bottom>
        <template v-slot:activator="{ on, attrs }">
          <div class="d-flex align-center pointer" v-bind="attrs" v-on="on">
            <v-img class="user-image mr-2" :src="`https://avatars.dicebear.com/api/avataaars/${user.sub}.svg`" max-height="35" max-width="35"></v-img>
            {{ user.name }} {{ user.surname }}
          </div>
        </template>
        <v-list>
          <v-list-item class="pointer" @click="logout">
            <v-list-item-title>Logout me</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <div v-else>
      <v-btn class="mr-2" outlined :to="{ name: 'login' }" active-class="active" exact>
        Login
      </v-btn>
      <v-btn outlined :to="{ name: 'register' }" active-class="active" exact>
        Registration
      </v-btn>
    </div>
  </v-app-bar>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: false,
    },
  },
  methods: {
    logout() {
      this.$emit("logout");
    },
  },
};
</script>

<style scoped>
.active {
  background: #6c08d1;
}
.user-image {
  background: #fff;
  border-radius: 50px;
}
</style>
