<template>
  <div>
    <room-users :roomId="roomId" class="mb-5"></room-users>
    <v-card max-width="100%" max-height="480" min-height="480" class="mx-auto overflow-y-auto" ref="messages">
      <v-list v-if="messages.length" three-line>
        <template v-for="(message, i) in messages">
          <v-divider v-if="i !== 0" inset :key="i"></v-divider>

          <v-list-item :key="message.id">
            <v-list-item-avatar>
              <v-img :src="`https://avatars.dicebear.com/api/avataaars/${message.userId}.svg`"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{ message.message }}</v-list-item-title>
              <v-list-item-subtitle>
                <span class="text--primary text-caption">{{ message.userFullName }}</span> ·
                <span class="text--disabled text-caption">{{ new Date(message.created).toLocaleString() }}</span>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
      <div v-else class="py-16">
        <div class="text--disabled text-center">No messages yet. Write something!</div>
      </div>
    </v-card>
    <new-message :roomId="roomId" @onNewMessage="addNewMessage"></new-message>
  </div>
</template>

<script>
import NewMessage from "./NewMessage.vue";
import RoomUsers from "./RoomUsers.vue";
import { UPDATE_INTERVAL_MS } from "../code/constants";

export default {
  components: { NewMessage, RoomUsers },
  props: {
    roomId: {
      type: String,
      required: true,
    },
    userId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      messages: [],
      timer: null,
    };
  },
  methods: {
    async loadMessages() {
      try {
        const response = await this.$http.get(`/rooms/${this.roomId}/messages`);
        const hasNewMessages = response.data.length != this.messages.length;
        this.messages = response.data;
        if (hasNewMessages) {
          this.scrollToBottom();
        }
      } catch (err) {
        // TODO: handle errors
      }
    },
    addNewMessage(newMessage) {
      this.messages.push(newMessage);
      this.scrollToBottom();
    },
    scrollToBottom() {
      const el = this.$refs.messages?.$el;
      if (el != null) {
        setTimeout(() => el.scrollTo({ top: el.scrollHeight, behavior: "smooth", block: "end" }));
      }
    },
  },
  mounted() {
    this.loadMessages();
    this.timer = setInterval(this.loadMessages, UPDATE_INTERVAL_MS * 2);
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
};
</script>
