<template>
    <v-card max-width="100%" class="mx-auto">
      <v-text-field
        v-model="message"
        filled
        hide-details
        clear-icon="mdi-close-circle"
        clearable
        label="Message"
        type="text"
        append-icon="mdi-send"
        @click:append="sendMessage"
        @keypress.enter="sendMessage">
      </v-text-field>
    </v-card>
</template>

<script>
export default {
  props: {
    roomId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      message: "",
    };
  },
  methods: {
    async sendMessage() {
      if (!this.message) {
        return;
      }
      const payload = {
        message: this.message,
      };
      try {
        const response = await this.$http.post(`/rooms/${this.roomId}/messages`, payload);
        this.$emit("onNewMessage", response.data);
        this.message = "";
      } catch (e) {
        // TODO: handle errors
      }
    },
  },
};
</script>
