<template>
  <div class="mt-8">
    <div v-if="!formVisible" class="text-center">
      <v-btn fab medium elevation="2" @click="formVisible = true">
        <v-icon dark>
          mdi-plus
        </v-icon>
      </v-btn>
    </div>
    <v-card v-else elevation="2">
      <v-card-title>Create new room</v-card-title>
      <v-card-subtitle>You will be the admin of the new room.</v-card-subtitle>
      <v-card-text>
        <v-form v-model="isFormValid">
          <v-text-field v-model="title" :rules="[rules.required]" label="Room title" outlined></v-text-field>
          <v-text-field v-model="description" :rules="[rules.required]" label="Room description" outlined></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn text color="error" @click="resetForm">
          Cancel
        </v-btn>
        <v-btn text @click="createNewRoom" :disabled="!isFormValid">
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      title: "",
      description: "",
      formVisible: false,
      isFormValid: false,
      rules: {
        required: (value) => !!value || "Required.",
      },
    };
  },
  methods: {
    resetForm() {
      this.title = "";
      this.description = "";
      this.isFormValid = false;
      this.formVisible = false;
    },
    async createNewRoom() {
      const payload = { description: this.description, title: this.title };
      try {
        const response = await this.$http.post("/rooms", payload);
        const newRoom = response.data;
        this.$emit("onNewRoom", newRoom);
        this.resetForm();
      } catch (e) {
        // TODO: handle errors
      }
    },
  },
};
</script>
