<template>
  <div>
    <v-sheet class="mx-auto" max-width="100%">
      <div class="text-subtitle-2 mb-2">Active users ({{ users.length }})</div>
      <v-slide-group multiple show-arrows style="min-height: 88px">
        <v-slide-item v-for="user in users" :key="user.id">
          <div class="d-flex flex-column align-center">
            <v-img :src="`https://avatars.dicebear.com/api/avataaars/${user.id}.svg`" max-height="60" max-width="60"></v-img>
            <v-btn class="mx-2" active-class="purple white--text" depressed text small> {{ user.name }} {{ user.surname }} </v-btn>
          </div>
        </v-slide-item>
        <div v-if="!users.length">
          <div class="text-subtitle-1 text--disabled mb-2 text-center">Waiting for users...</div>
        </div>
      </v-slide-group>
    </v-sheet>
  </div>
</template>

<script>
import { UPDATE_INTERVAL_MS } from "../code/constants";

export default {
  props: {
    roomId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      users: [],
      timer: null,
    };
  },
  methods: {
    async loadUsers() {
      try {
        const response = await this.$http.get(`/rooms/${this.roomId}/users`);
        this.users = response.data;
      } catch (err) {
        // TODO: handle errors
      }
    },
  },
  mounted() {
    this.loadUsers();
    this.timer = setInterval(this.loadUsers, UPDATE_INTERVAL_MS * 2);
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
};
</script>
