<template>
  <v-row justify="end">
    <v-col sm="6" md="6">
      <v-text-field label="Rooms filter" placeholder="Filter by name or description" filled rounded dense clearable @input="onFilterChange"> </v-text-field>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    onFilterChange: {
      type: Function,
      required: true,
    },
  },
};
</script>
