<template>
  <v-expansion-panel>
    <v-expansion-panel-header>
      <v-row no-gutters>
        <v-col cols="5">
          <strong>{{ room.title }}</strong>
        </v-col>
        <v-col cols="7" class="text--secondary">
          <v-fade-transition leave-absolute>
            <v-row no-gutters style="width: 100%">
              <v-col cols="4"> {{ new Date(room.created).toLocaleDateString() }} </v-col>
              <v-col cols="7" class="text-right mr-2"> {{ room.totalUsers }} users · {{ room.totalMessages }} messages </v-col>
            </v-row>
          </v-fade-transition>
        </v-col>
      </v-row>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <div class="text--secondary">
        {{ room.description }}
      </div>
      <v-row justify="end" class="mt-2 mb-1">
        <v-btn text color="primary" :to="{ name: 'roomDetail', params: { id: room.id } }">Enter</v-btn>
      </v-row>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  props: {
    room: {
      type: Object,
      required: true,
    },
  },
};
</script>
