<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <div>
        <div class="text-h2" style="padding-right: 25px">
          Chat app
          <div class="dot-typing"></div>
        </div>
        <v-btn class="mt-8" block outlined color="primary" rounded x-large :to="{ name: 'rooms' }">Enter</v-btn>
      </div>
    </v-row>
  </v-container>
</template>

<style scoped>
.dot-typing {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #1976d2;
  color: #1976d2;
  animation: dotTyping 1.5s infinite linear;
  box-shadow: 9984px 0 0 0 #1976d2, 9999px 0 0 0 #1976d2, 10014px 0 0 0 #1976d2;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #1976d2, 9999px 0 0 0 #1976d2, 10014px 0 0 0 #1976d2;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #1976d2, 9999px 0 0 0 #1976d2, 10014px 0 0 0 #1976d2;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #1976d2, 9999px 0 0 0 #1976d2, 10014px 0 0 0 #1976d2;
  }
  50% {
    box-shadow: 9984px 0 0 0 #1976d2, 9999px -10px 0 0 #1976d2, 10014px 0 0 0 #1976d2;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #1976d2, 9999px 0 0 0 #1976d2, 10014px 0 0 0 #1976d2;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #1976d2, 9999px 0 0 0 #1976d2, 10014px -10px 0 0 #1976d2;
  }
  100% {
    box-shadow: 9984px 0 0 0 #1976d2, 9999px 0 0 0 #1976d2, 10014px 0 0 0 #1976d2;
  }
}
</style>
