<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card class="elevation-2">
          <v-toolbar color="default" flat>
            <v-toolbar-title>Login</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form v-model="isFormValid">
              <v-text-field v-model="email" :rules="[rules.required, rules.email]" label="Email" type="email"></v-text-field>
              <v-text-field
                v-model="password"
                :rules="[rules.required]"
                label="Password"
                :append-icon="showPassEye ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassEye ? 'text' : 'password'"
                @click:append="showPassEye = !showPassEye"
                class="mt-2"
              ></v-text-field>
              <div class="d-flex justify-end">
                <v-btn color="primary" text class="mt-2" @click="doLogin" :disabled="!isFormValid">
                  Login
                </v-btn>
              </div>
            </v-form>
          </v-card-text>
          <v-alert v-if="error != null" type="error" dismissible>{{ error }}</v-alert>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { tokenManager } from "../../main";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      showPassEye: false,
      isFormValid: false,
      rules: {
        required: (value) => !!value || "Required.",
        email: (v) => /.+@.+/.test(v) || "E-mail must be valid",
      },
      error: null,
    };
  },
  methods: {
    async doLogin() {
      this.error = null;
      const payload = { email: this.email, password: this.password };

      try {
        const response = await this.$http.post("/auth/login", payload);
        const { token } = response.data;
        tokenManager.setToken(token);
        const userData = tokenManager.getPayload();
        this.$emit("userLogged", userData);
        this.$router.push({ name: "rooms" });
      } catch (e) {
        this.error = e?.response?.data?.message ?? "An unexpected error occurred.";
      }
    },
  },
};
</script>
