<template>
  <div class="page-not-found">
    <v-container>
      <v-layout wrap row align-center>
        <v-flex class="mb-5">
          <v-img :src="require('../../assets/404image.png')" contain height="250"></v-img>
        </v-flex>
        <v-flex class="text-xs-center">
          <div class="text-h3">
            Page not found.
          </div>
          <div class="text-subtitle-2 mt-2">
            The page you are trying to get never existed in this reality, or has migrated to a parallel universe. Try going back to home page and repeat your action.
          </div>
          <v-btn flat color="primary" exact class="mt-4" to="/">
            Homepage
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style scoped>
.page-not-found {
  padding-top: 10rem;
  margin-bottom: 5rem;
}
</style>
