<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card class="elevation-2">
          <v-toolbar color="default" flat>
            <v-toolbar-title>Register</v-toolbar-title>
          </v-toolbar>
          <v-card-text v-if="!success">
            <v-form v-model="isFormValid">
              <v-text-field v-model="email" :rules="[rules.required, rules.email]" label="Email" type="email"></v-text-field>
              <v-text-field
                v-model="password"
                :rules="[rules.required]"
                label="Password"
                :append-icon="showPassEye ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassEye ? 'text' : 'password'"
                @click:append="showPassEye = !showPassEye"
                class="mt-2"
              >
              </v-text-field>
              <v-text-field v-model="name" :rules="[rules.required]" label="First name" type="text"></v-text-field>
              <v-text-field v-model="surname" :rules="[rules.required]" label="Last name" type="text"></v-text-field>
              <v-radio-group v-model="gender" row>
                <v-radio v-for="g in genders" :key="g.value" :label="g.label" :value="g.value"></v-radio>
              </v-radio-group>
              <div class="d-flex justify-end">
                <v-btn color="primary" text class="mt-2" @click="doRegister" :disabled="!isFormValid">
                  Register
                </v-btn>
              </div>
            </v-form>
          </v-card-text>
          <v-card-text v-else>
            <v-alert type="success">You have successfully registered!</v-alert>
            <v-btn color="primary" class="mt-5" outlined x-large block :to="{ name: 'login' }">
              Login
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      name: "",
      surname: "",
      gender: "male",
      showPassEye: false,
      isFormValid: false,
      success: false,
      rules: {
        required: (value) => !!value || "Required.",
        email: (v) => /.+@.+/.test(v) || "E-mail must be valid",
      },
      genders: [
        { value: "male", label: "Male" },
        { value: "female", label: "Female" },
        { value: "other", label: "Other" },
      ],
    };
  },
  methods: {
    async doRegister() {
      const payload = { email: this.email, password: this.password, name: this.name, surname: this.surname, gender: this.gender };

      try {
        await this.$http.post("/users", payload);
        this.success = true;
      } catch (e) {
        // TODO: handle errors
      }
    },
  },
};
</script>
