<template>
  <v-container fluid class="pt-16">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="10" md="7" lg="6">
        <div v-if="room != null">
          <div class="text-h2 text--disabled mb-16">
            <v-btn icon :to="{ name: 'rooms' }" class="mr-5 mb-2">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            {{ room.title }}
          </div>
          <div>
            <messages :roomId="room.id" :userId="user.sub"></messages>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Messages from "../../components/Messages.vue";

export default {
  components: { Messages },
  props: {
    user: Object,
  },
  data() {
    return {
      room: null,
    };
  },
  methods: {
    async loadRoomDetail(id) {
      try {
        const response = await this.$http.get(`/rooms/${id}`);
        this.room = response.data;
      } catch (e) {
        // TODO: handle errors
      }
    },
  },
  mounted() {
    const id = this.$route.params.id;
    this.loadRoomDetail(id);
  },
};
</script>
