<template>
  <v-container fluid class="pt-16">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="8" lg="7">
        <div class="text-h2 text--disabled mb-16">Chat rooms</div>
        <v-alert v-if="error != null" type="error">
          <div>{{ error }}</div>
          <v-btn class="mt-6" @click="initFetchingInterval">Try again</v-btn>
        </v-alert>
        <div v-else>
          <rooms-filters :onFilterChange="setFilter"></rooms-filters>
          <v-expansion-panels multiple popout v-if="filteredRooms.length">
            <room v-for="room in filteredRooms" :key="room.id" :room="room"></room>
          </v-expansion-panels>
          <div class="text-subtitle-2 text--darken-1 text-center mt-3" v-else>No room found.</div>
        </div>
        <new-room @onNewRoom="addNewRoom"></new-room>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import RoomsFilters from "../../components/RoomsFilters.vue";
import Room from "../../components/Room.vue";
import NewRoom from "../../components/NewRoom.vue";
import { UPDATE_INTERVAL_MS } from "../../code/constants";

export default {
  components: {
    RoomsFilters,
    Room,
    NewRoom,
  },
  data() {
    return {
      rooms: [],
      timer: null,
      error: null,
      filter: "",
    };
  },
  computed: {
    filteredRooms() {
      const filter = this.filter.toLowerCase();
      return this.rooms.filter((room) => room.title.toLowerCase().includes(filter) || room.description.toLowerCase().includes(filter));
    },
  },
  methods: {
    async loadAllRooms() {
      this.error = null;

      try {
        const response = await this.$http.get("/rooms");
        this.rooms = response.data;
      } catch (e) {
        this.error = e?.response?.data?.message ?? "An unexpected error occurred.";
        clearInterval(this.timer);
      }
    },
    initFetchingInterval() {
      this.loadAllRooms();
      this.timer = setInterval(this.loadAllRooms, UPDATE_INTERVAL_MS * 3);
    },
    setFilter(filter) {
      this.filter = filter ?? "";
    },
    addNewRoom(newRoom) {
      this.rooms.push(newRoom);
    },
  },
  mounted() {
    this.initFetchingInterval();
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
};
</script>
